.banner{
   height: 300px; 
   background-color: red;
}

/* Max width => desktop first => màng hình từ lớn tơi bé */

@media screen and (max-width : 1200px) {
   .banner{
      background-color: black;
   }
}

@media screen and (max-width : 992px) {
   .banner {
      background-color: blue;
   }
}
/* min width */
@media screen  {
   
}


